div#MainScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  div.content {
    padding: 0% 2%;
    border-radius: 15px;
    transition: color 0.3s ease;
    margin: 20px;
  }

  .input-container {
    display: flex;
    gap: 15px;
    input {
      appearance: auto;
      background-color: transparent;
      border-radius: 20px;
      box-sizing: border-box;
      caret-color: #fff;
      font-size: 18px;
      font-weight: 100;
      padding: 0 15px;
      text-align: center;
      outline: none;
      transition: all 0.3s ease;
      filter: brightness(0.8);
      transition: filter 0.15s ease;

      &:focus {
        filter: brightness(1);
      }
    }

    button {
      background-color: transparent;
      border-radius: 20px;
      box-sizing: border-box;
      font-weight: 100;
      padding: 5px 25px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:not(:disabled):hover {
        outline: none;
      }

      &:not(:disabled):active {
        transform: scale(0.97);
      }

      &:not(:disabled):focus {
        outline: none;
      }
    }
  }

  p.resultMessage {
    visibility: visible;
    min-height: 50px;
  }

  p.resultMessage.errorMessage {
    color: rgb(235 56 56);
  }

  p.resultMessage.successMessage {
    color: rgb(73 189 25);
  }
}

div.main-background {
  input:disabled {
  }
  button:disabled {
    cursor: default !important;
  }
}